// Theme
$prussian-blue: #003559;
$white: #fff;
$black: #000;
$oxford-blue: #061a40;
$bice-blue: #006daa;
$columbia-blue: #b9d6f2;

@mixin for-phone-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 900px) {
    @content;
  }
}
