@use "../../styles/library" as mixins;

.About {
  &-Container {
    background-color: mixins.$bice-blue;
    color: mixins.$white;
    min-height: calc(100vh - 55px);
    padding: 10px 0px;
    scroll-margin-top: 65px;
    margin: 0;
  }

  &-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    @include mixins.for-desktop-up {
      flex-direction: row;
    }
  }

  &-Title {
    position: relative;
    padding-bottom: 10px;
  }

  &-Title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: mixins.$prussian-blue;
    transform: translateX(-50%);
  }

  &-Title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: mixins.$columbia-blue;
    padding: 0 5px;
    background: mixins.$bice-blue;
    transform: translateX(-50%);
    content: "who I am";
    font-weight: 500;
  }

  &-Text {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include mixins.for-desktop-up {
      align-items: center;
      width: 55%;
    }
  }

  &-Img {
    width: 350px;
    height: 350px;

    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 32px;
    @include mixins.for-desktop-up {
      width: 400px;
      height: 400px;
      margin-right: 15px;
      margin-bottom: 0px;
    }

    @include mixins.for-phone-only {
      width: 300px;
      height: 300px;
    }
  }

  &-Btn:hover {
    background-color: mixins.$prussian-blue;
    border-color: mixins.$prussian-blue;
  }

  &-Icon {
    font-size: 50px;
    border: 3px solid mixins.$bice-blue;
    padding: 12px;
    background-color: mixins.$white;
    border-radius: 50%;
  }

  &-Stack {
    margin: 25px 0px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    grid-row-gap: 20px;
  }
}

.Variant {
  flex-direction: column;
}

.About-Copy.MuiTypography-root {
  margin-bottom: 40px;
}
