@use "../../styles/library" as mixins;

.Home {
  &-Container {
    color: mixins.$white;
    height: 100vh;
  }

  &-Title {
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  &-Content {
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-Btn:hover {
    background-color: mixins.$prussian-blue;
    border-color: mixins.$prussian-blue;
    font-weight: 500;
    color: mixins.$white;
  }
}

@include mixins.for-phone-only {
  .Home-Title {
    font-size: 36px;
  }
}
