@use "../../styles/library" as mixins;

.Nav {
  &-Container {
    color: mixins.$white;
    background-color: mixins.$prussian-blue;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    width: 100%;
  }

  &-Breadcrumbs {
    color: mixins.$white;
  }
}

.MuiMenuList-root {
  box-shadow: none;
}

.Nav-MobileMenu {
  position: absolute !important;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  left: 0;
}

.open {
  opacity: 1;
  background-color: mixins.$prussian-blue;
  box-shadow: none;
  visibility: visible;
}

.MuiBreadcrumbs-separator {
  color: mixins.$white;
}
