@use "../../styles/library" as mixins;

.Nav {
  &-Container {
    z-index: 1000;
    color: mixins.$white;
    background-color: mixins.$oxford-blue;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;

    @include mixins.for-tablet-up {
      display: flex;
      justify-content: space-between;
    }
  }

  &-Breadcrumbs {
    color: mixins.$white;
  }

  &-Link:hover {
    color: mixins.$columbia-blue !important;
  }
}

.Scroll {
  background-color: mixins.$prussian-blue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.MuiMenuList-root {
  box-shadow: none;
}

.Nav-MobileMenu {
  position: absolute !important;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  left: 0;
}

.open {
  opacity: 1;
  background-color: mixins.$prussian-blue;
  box-shadow: none;
  visibility: visible;
}

.MuiBreadcrumbs-separator {
  color: mixins.$white;
}
